<label>Rzucasz na Umiejętność
  <strong>{{umiejtnosc}}</strong>
  o wartości
  <strong>{{wartoscUmiejetnosci}}</strong></label><br />

{{#if (notEmpty aspekty)}}
  <label>Aspekty:</label>
  <ul class="roll-tagi">
    {{#each aspekty}}
      <li >
        <strong>{{this.name}}</strong>:
        <div class="roll-tag">
        {{#each this.tagi as |tag|}}
        <div class="single-tag">
          <label>{{tag}}</label>
          <input type="checkbox" id="{{tag}}">
        </div>
          
        {{/each}}
        </div>
    {{/each}}
  </ul>
{{/if}}
{{log sprzet}}
{{#if (notEmpty sprzet)}}
  <label>Sprzęt:</label>
  <ul class="roll-tagi">
    {{#each sprzet}}
      <li >
        <strong>{{this.name}} TAGI:</strong>:
        <div class="roll-tag">
        {{#each this.tagi as |tag|}}
        <div class="single-tag">
          <label>{{tag}}</label>
          <input type="checkbox" id="{{tag}}">
        </div>
          
        {{/each}}
        </div>
    {{/each}}
  </ul>
{{/if}}

<label>
  Ułatwienia:
  <input class="ulatwienia" type="number" name="ulatwienia" value="0" min="0" />
</label><br />

<label>
  Utrudnienia:
  <input
    class="utrudnienia"
    type="number"
    name="utrudnienia"
    value="0"
    min="0"
  />
</label>