<label>Rzucasz na Umiejętność
  <strong>{{umiejtnosc}}</strong>
  o wartości
  <strong>{{wartoscUmiejetnosci}}</strong></label>
{{#bothNotEmpty aspekty sprzet}}
<div class="wybieranie-tagow dwa">
{{else}}
<div class="wybieranie-tagow">
{{/bothNotEmpty}}
{{#if (notEmpty aspekty)}}
<div class="aspekty-roll">
  <label>Aspekty:</label>
  <ul class="roll-tagi">
    {{#each aspekty}}
      <li >
        <strong>{{this.name}}</strong>:
        <div class="roll-tag">
        {{#each this.tagi as |tag|}}
        <div class="single-tag">
          <label>{{tag}}</label>
          <input type="checkbox" class="aspekty-tag" id="{{tag}}" data-name="{{../name}}">
        </div>
    {{/each}}
        </div>
    {{/each}}
  </ul>
  </div>
{{/if}}

{{#if (notEmpty sprzet)}}
<div class="sprzety-roll">
  <label>Sprzęt:</label>
  <ul class="roll-tagi">
    {{#each sprzet}}
      <li >
        <strong>{{this.name}} TAGI:</strong>:
        <div class="roll-tag">
        {{#each this.tagi as |tag|}}
        <div class="single-tag">
          <label>{{tag}}</label>
          <input type="checkbox" class="sprzet-tag" id="{{tag}}" data-name="{{../name}}">
        </div>
          
        {{/each}}
        </div>
    {{/each}}
  </ul>
  </div>
{{/if}}
</div>
<label>
  Ułatwienia:
  <input class="ulatwienia" type="number" name="ulatwienia" value="0" min="0" />
</label>
<label>
  Utrudnienia:
  <input
    class="utrudnienia"
    type="number"
    name="utrudnienia"
    value="0"
    min="0"
  />
</label>