<section class="sidebar">
  <div class="actor-info">
    <img src="{{actor.img}}" alt="{{actor.name}}" class="actor-image" />
    <h2 class="actor-name"><input type="text"  value="{{actor.name}}" name="name"></h2>
  </div>
  <h3 class="heder-obronne">Rzuty Obronne</h3>
  {{#each actor.system.obronne}}
    <div class="rzuty-obdronne">
      <label data-action="deffRoll" data-obronny="{{@key}}" class="obronne">{{capital @key}}</label>
      <input type="number" name="system.obronne.{{@key}}.value" value="{{lookup (lookup ../system.obronne @key) 'value'}}">
    </div>
  {{/each}}
</section>
