<section class="sidebar-actor">
  <div class="actor-info">
    <img src="{{actor.img}}" alt="{{actor.name}}" class="actor-image" data-action="editImage" data-edit="img"/>
    <h2 class="actor-name"><input type="text"  value="{{actor.name}}" name="name"></h2>
  </div>
  <div class="sidebar-stat">
    <h3 class="heder-sidebar">PUNKTY ŻYCIA</h3>
    <div class="pz">
      <div class="opis-pz">
        <label class="heder-sidebar">OBECNE</label>
        <input type="number" name="system.witalnosc_moc_dmg.dmg.value" value="{{actor.system.witalnosc_moc_dmg.dmg.value}}">
      </div>
      <div class="opis-pz">
         <label class="heder-sidebar">MAKSYMALNE</label> 
        <input type="number" name="system.witalnosc_moc_dmg.pz.value" value="{{actor.system.witalnosc_moc_dmg.pz.value}}">
      </div>
      <div class="opis-pz">
        <label class="heder-sidebar">REGENERACJA</label>   
        <input type="number" name="system.witalnosc_moc_dmg.reg.value" value="{{actor.system.witalnosc_moc_dmg.reg.value}}">
      </div>
      <div class="opis-pz">
        <label class="heder-sidebar">TYMCZASOWE</label>
        <input type="number" name="system.witalnosc_moc_dmg.dmg_temp.value" value="{{actor.system.witalnosc_moc_dmg.dmg_temp.value}}">
      </div>
    </div>
  </div>
  <div class="sidebar-stat">
    <h3 class="heder-sidebar">MOC</h3>
    <div class="pz">
      <div class="opis-pz">
        <label class="heder-sidebar">DOSTEPNE</label>
        <input type="number" name="system.witalnosc_moc_dmg.moc.value" value="{{actor.system.witalnosc_moc_dmg.moc.value}}">
      </div>
      <div class="opis-pz">
        <label class="heder-sidebar">ZUŻYTE</label>
        <input type="number" name="system.witalnosc_moc_dmg.moc_wyk.value" value="{{actor.system.witalnosc_moc_dmg.moc_wyk.value}}">
      </div>
    </div>
  </div>

  <h3 class="heder-sidebar">RZUTY OBRONNE</h3>
  {{#each actor.system.obronne}}
    <div class="rzuty-obdronne">
      <label data-action="deffRoll" data-obronny="{{@key}}" class="obronne" data-tooltip="Kliknij aby rzucić">{{capital @key}}</label>
      <input type="number" name="system.obronne.{{@key}}.value" value="{{lookup (lookup ../system.obronne @key) 'value'}}">
    </div>
  {{/each}}
  <h3 class="heder-sidebar">RANY</h3>
  <div class="rany">
        <label class="heder-sidebar">LEKKIE</label>
         {{#each system.rany}}
            {{#if (isLekkie @key) }}
            <input type="text" name='system.rany.{{@key}}.value' value="{{lookup (lookup ../system.rany @key) "value"}}">
            {{/if}}
          {{/each}}
  </div>
  <div class="rany">
        <label class="heder-sidebar">CIĘŻKIE</label>
        {{#each system.rany}}
            {{#if (eq (isLekkie @key) false)}}
            <input type="text" name='system.rany.{{@key}}.value' value="{{lookup (lookup ../system.rany @key) "value"}}">   
            {{/if}}
          {{/each}}
  </div>
</section>
